` !pip install webvtt-py ` https://github.com/glut23/webvtt-py

Delete empty text after timestamp in the sbv files.

In [1]:
import pandas as pd
import webvtt
from datetime import datetime

In [2]:
#File paths
InOriginal = "C:\\Users\\Jiachen\\OneDrive\\YouTube Subtitles\\Youtube LeTV Published\\EP19volunteers.sbv"
InRevised = "C:\\Users\\Jiachen\\OneDrive\\YouTube Subtitles\\Youtube LeTV Published\\EP19Carsen.sbv"
OutFile = "C:\\Users\\Jiachen\\OneDrive\\YouTube Subtitles\\测试 培训\\Carsen修改前后对比\\EP19前后对照(完整版).xlsx"

In [3]:
data = []
webvtt = webvtt.from_sbv(InOriginal)
for caption in webvtt:
    data.append({'start':datetime.strptime(caption.start,'%H:%M:%S.%f').time(), 
                 'end':datetime.strptime(caption.end,'%H:%M:%S.%f').time(),
                 'old':caption.text})
original = pd.DataFrame(data)
original = original.replace('\n',' ', regex=True)
original = original[['start','end','old']]
original.head()

      start       end                                                old
0  00:00:00  00:00:03  Empresses in the Palace—the Legend of Zhen Hua...
1  00:00:03  00:00:09  [contact translators] carsenwei@yahoo.com [sub...
2  00:00:09  00:00:11                            Theme: Unfortunate Love
3  00:00:13  00:00:37  Perturbed by the thoughts on my mind no matter...
4  00:00:37  00:00:47  I could give away my crown for the beauty by m...

In [4]:
data = []
webvtt = webvtt.from_sbv(InRevised)
for caption in webvtt:
    data.append({'start':datetime.strptime(caption.start,'%H:%M:%S.%f').time(), 
                 'end':datetime.strptime(caption.end,'%H:%M:%S.%f').time(),
                 'new':caption.text})
revised = pd.DataFrame(data)
revised = revised.replace('\n',' ', regex=True)
revised = revised[['start','end','new']]
revised.head()

      start       end                                                new
0  00:00:00  00:00:03  Empresses in the Palace—the Legend of Zhen Hua...
1  00:00:03  00:00:09  [contact translators] carsenwei@yahoo.com [sub...
2  00:00:09  00:00:11                            Theme: Unfortunate Love
3  00:00:13  00:00:37  Perturbed by the thoughts on my mind no matter...
4  00:00:37  00:00:47  I could give away my crown for the beauty by m...

In [5]:
r = revised.set_index(['start','end'])
o = original.set_index(['start','end'])
output = r.join(o, how='outer')
output = output[['old','new']]
output[15:26]

                                                                               old  \
start           end
00:02:23        00:02:25.560000                          His majesty are arriving!
00:02:24        00:02:26.980000                                                NaN
00:02:36.620000 00:02:38.620000                                          All rise.
00:02:38.020000 00:02:39.560000                                                NaN
00:02:39.760000 00:02:40.840000                     I am grateful to Your Majesty.
                00:02:41.600000                                                NaN
00:02:42.240000 00:02:43.740000                                     What happened?
                00:02:44.260000                                                NaN
00:02:44.420000 00:02:47.560000  I've heard that someone defied the edict, so I...
00:02:53.860000 00:02:55.860000                             Peace to your majesty.
                00:02:56.700000                                                NaN

                                                                               new
start           end
00:02:23        00:02:25.560000                                                NaN
00:02:24        00:02:26.980000                           His Majesty the Emperor.
00:02:36.620000 00:02:38.620000                                                NaN
00:02:38.020000 00:02:39.560000                                          All rise.
00:02:39.760000 00:02:40.840000                                                NaN
                00:02:41.600000                              I thank Your Majesty.
00:02:42.240000 00:02:43.740000                                                NaN
                00:02:44.260000                                   What's going on?
00:02:44.420000 00:02:47.560000  I heard that someone defied Your Majesty's edi...
00:02:53.860000 00:02:55.860000                                                NaN
                00:02:56.700000                             Peace to Your Majesty.

In [6]:
#Reset index so that "start" and "end" will appear in the Excel file
df = output.reset_index(level=['start','end'])

# Write to Excel file with formats
writer = pd.ExcelWriter(OutFile, engine='xlsxwriter') #https://xlsxwriter.readthedocs.io/index.html
df.to_excel(writer, sheet_name='Sheet1', index=False)
# Get the xlsxwriter objects from the dataframe writer object.
workbook  = writer.book
worksheet = writer.sheets['Sheet1']
# Set the column width and format.
format1 = workbook.add_format({'text_wrap': True})
worksheet.set_column('A:B', 18)
worksheet.set_column('C:D', 55, format1)

# Close the Pandas Excel writer and output the Excel file.
writer.save()